/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  span.close, span.closeFinishTask {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  span.close:hover,
  span.close:focus,
  span.closeFinishTask:hover,
  span.closeFinishTask:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  video  {
    padding-top: 40px;
    height: 45%; 
    width: 43%;
  }

  @media (max-height: 980px) {
    video  {
      padding-top: 20px;
      height: 40%; 
      width: 40%;
    }
  }


  #myInput {
  box-sizing: border-box;
  background-image: url('../Materalia/searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  padding-left: 100px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd; text-align: center;
}

.show {display: block;}


.formBorder {
  position: relative;
  bottom: 65px;
}

.formatForm {
  border: 2px solid black;
  width: 70%;
  margin-left: 400px;
  padding: 30px;
}

form input[type='text'],
form textarea {
  margin-top: 10px;
  margin-bottom: 25px;
}

form h1 {
  margin-bottom: 20px;
}

.ramBtn {
  font-size: 12px;
  position: fixed;
  left: 55%;
  width: 100px;
}

.ramTextarea {
  margin-top: 3%;
  position: fixed;
  left: 68%;
  width: 300px;
  height: 530px;
}